*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;

}
.flex-container 
{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}
.headlogo1
{
    display: flex;
    gap: 330px;
    
}
.headlogo2 
{  
    font-size: 24px;
    color: #f9faf8;
    margin-top: 30px;
    margin-left: -100px;
}
.ul1
{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;  
    margin-top: 30px;
}    
h1 
{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.p1
{
    font-size: 18px;
    color:#e5e7eb
}
.b1
{
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: #e5e7eb;
}
.Abba
{
display: flex;
gap: 100px;
}
.main
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 50px;

}
.pic 
{
    width: 300px;
    height: 200px;
    margin-top: 50px;
    

}
.ul1,.pic
{
    margin-right:100px;
}
.main
{
    width: 500px;
    margin-bottom: 100px;

}
.flex-container2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: -60px;
}
h2
{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937
}
.ul2
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap:50px;
    margin-top: 20px;
}
.pop1
{
    display: flex;
    width: 125px;
}
.lil
{
    border: solid blue;
    border-radius: 10px;
}
.flex-container3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #e5e7eb;
   
}
.qot
{
    display: flex;
    justify-content: center;
    width: 800px;
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;   
    margin-top: 20px;
}
.qot2

{   
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: light italic;
    color: #1f2937;
    margin-left: 200px;
    margin-bottom: 20px;
}
.mega{
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.flex-container4
{ 
display: flex;
justify-content: center;
align-items: center;
width: 800px;
height: 150px;
background-color: #3882f6;
border-radius: 15px;
gap: 15px;
}
.b2
{
 display: flex; 
 justify-content: center; 
 align-items: center#;
 background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: #e5e7eb;
}
 

footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color:#e5e7eb
    

}
.qot12
{
    color: #e5e7eb;
}
